<div class="offcanvas offcanvas-end offcanvas-custom" tabindex="-1" id="offcanvasDetails">
    <div class="offcanvas-header border-bottom">
      <div>
        <div class="fw-bold">Triagem do candidato</div>
        <div class="text-muted small">Match, critérios e decisão</div>
      </div>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body" id="mobileDetailBody"></div>
  </div>
