@model IReadOnlyList<LioTecnica.Web.ViewModels.Admin.MenuForCurrentUserViewModel>
@using LioTecnica.Web.Helpers
@{
    var linkClass = ViewData["LinkClass"]?.ToString() ?? "nav-link";
}

<nav class="nav flex-column">
    @foreach (var menu in Model)
    {
        <a class="@linkClass @ViewHelpers.NavActiveByPath(ViewContext, menu.Route)" href="@menu.Route">
            <i class="bi @menu.Icon"></i>@menu.DisplayName
        </a>
    }
</nav>
